<style>
* {box-sizing: border-box;}

body, html {
  height:100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* INDEX */
header {
  display: flex; 
  align-items: center; 
}

/* logo */
.logo {
  width: 100px; 
  height: 110px; 
}

.logo-container {
  margin-right: 0; 
}

/* header */
.header-title {
  font-size: 17px;
  width:110%;
  height: 114px;
}

.header img {
  width:10%;
  height:auto;

}

/* background colors */
.logo-container, .header-title, .header, .pre-footer {
  background-color: 
  #990000;
  padding:1%;
  text-align: left;
}

.footer, .progetto {
    background-color:
    #ff9933;
    padding:1%;
  
}

/* hero container */
.hero-container {
  position:relative;
  max-width: 100%;
  width:100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.hero-container img { 
  width: 100%; 
  height: 550px;
  display: block;
  object-fit: cover;

}

.hero-container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  height: 50%;
  padding: 30px;
  z-index: 1;
}

.hero-container .content h1,
.container .content h3 {
  margin-bottom: 30px;
}

.hero-container .info {
  text-align: center;
  font-size: 0.9em;
  color: #f0f0f0; 
  margin-top: 80px; 
  margin-right: 30px; 
  position: relative; 
  display: block;
}

/* navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #414042;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/* search bar*/
.search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* explore*/

.esplora {
  background-color: #414042;
  padding:1%;
  overflow: auto;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 17px;
  font-size: 17px;
  width: 33.33%;
  flex: 1;
  text-align: center;
}


.tablink:hover {
  background-color: #777;
}

.esplora::after {
  content: "";
  display: table;
  clear: both;
}

.tabcontent {
  min-height: 300px;
  color: white;
  background-color: transparent;
  display: none;
  padding: 70px;
  text-align: center;
  overflow: hidden;
  clear: both;
  position: relative;
  z-index: 1;
}



.tab-blur {
  position: relative; 
  z-index: 1;
}

.tab-blur::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%; 
  background: rgba(0,0,0,0.50); 
  z-index: 0;
}

.tab-blur h3,
.tab-blur p {
    position: relative; 
    z-index: 1;
    color: white;       
}

.image-button {
  position: relative;
  width: 100%;
  margin-top: 40px; 
}
.image-button .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  background-color: #555; 
  color: white; 
  font-size: 16px; 
  padding: 12px 24px; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px; 
} 


.image-button .btn:hover { 
  background-color: #777 
}

.tabcontent .info {
  text-align: center;
  font-size: 0.9em;
  color: #f0f0f0; 
  margin-top: 80px; 
  margin-right: 30px; 
  position: relative; 
  display: block;
}


/* NEWSLETTER */
.newsletter-form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.newsletter-container {
  padding: 20px;
  background-color: #f1f1f1;
}

.newsletter-form input[type=text],
.newsletter-form input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.newsletter-form input[type=checkbox] {
  margin-top: 16px;
}

.newsletter-form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

.newsletter-form input[type=submit]:hover {
  opacity: 0.8;
}

/* LISTA-ITEM*/

.item-container {
  overflow: hidden;  
  background-color: #FDF5E6;
}

/* breadcrumbs*/
ul.breadcrumb {
  list-style: none;
  margin-top: 0; 
  padding: 12px 16px;
  padding-top: 20px; 
  background-color: #FDF5E6;
  margin-bottom: auto;
}

ul.breadcrumb li {display: inline;}
ul.breadcrumb li a {color: #414042;}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* sidenav*/
.sidenav {
  float: left;
  height: 100%;
  width: 250px;
  padding: 20px;
  background-color: #FDF5E6;
}


.sidenav a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}


.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/*items container*/ 
.item-content {
  float: left;
  background: #FDF5E6;
  height: 100%;
  width:70%;
  padding: 20px;
  margin-left: 0;
}

.clear {
  clear: both;
}


.container-cards {
  width: 100%;
  margin: 20px 0;
}

.card {
  float: left;
  width: 30%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  transition: 0.3s;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #414042;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-container {
  padding: 2px 16px;
}

/* ITEM DC */ 
.row {
  display: table;
  width: 100%;
  table-layout: fixed; 
  margin: 0;
}

/*columns*/
.column {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}


.column.side:first-child { width: 20%; }
.column.middle            { width: 60%; }
.column.side:last-child  { width: 20%; }

/*checkboxes*/ 
.custom-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 8px 0;
  cursor: pointer;
  user-select: none;
  color: #000;
}

.custom-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background: #414042;
  border-radius: 3px;
}

.custom-container:hover input ~ .checkmark { background: #ccc; }
.custom-container input:checked ~ .checkmark { background: #555; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-container input:checked ~ .checkmark:after {
  display: block;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.border.section {
  background: transparent;
  padding: 8px;
  border-radius: 4px;
}

.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.bg-gray {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 12px;
}

/* Metadata styling */
.metadata p { margin: 6px 0; font-size: 14px; color: #111; }
.metadata span { font-weight: 700; color: #333; }

/*right column- last child*/ 
.column.side:last-child .container-cards {
  padding-right: 15px; 
}

.column.side:last-child .card {
  width: 100%;
  margin-bottom: 15px; 
}

/*pagination*/ 

.pagination {
  display: flex;
  justify-content: center;
  list-style: none; 
  padding: 0px;
  background: #FDF5E6;

}

.pagination li a {
  display: block; 
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;  
  margin: 0 4px;
  border-radius: 5px; 
  float: left;
  transition: background-color .3s;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}  

.pagination a.active {
  background-color: #414042;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: lightgray;
}

/*RESPONSIVE */

@media screen and (max-width: 600px) {
    
    header {
        flex-direction: column; 
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .logo {
        width: 150px; 
        height: 150px;
        margin-top: 10px;
    }

    .logo-container {
    width: 100%; 
    margin: 0; 
    text-align: center; 
}
    .header-title {
        width: 100%;
        height: auto; 
        text-align: center;
        margin: 0;
        padding: 0 10px;
    }

    .header-title p {
        text-align: center !important;
    }

    
    .topnav .search-container,
    .topnav .search-container .sidenav {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button, .dropdown .dropbtn {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
    
    .dropdown {
        width: 100%;
    }
    .dropdown-content {
        position: relative; 
        min-width: 100%;
        box-sizing: border-box;
    }
    
  
  .hero-container::before {
    height: 100%;          
    background: rgba(0,0,0,0.5);                
  }


    .tab-blur::before {
    height: 100%;          
    background: rgba(0,0,0,0.5);  
  }
  
    .card {
        float: none;       
        width: 100%;       
        max-width: 100%;
        margin: 10px 0;
    }
    .card button {
        width: 100%;
    }
    .column.side:last-child .card {
        width: 100%;
    }
    
    .row, .column, .item-container, .item-content {
        width: 100%;
        padding: 0;
        margin: 0;
        float: none;
        display: block; 
    }
    .column.side:first-child, .column.middle, .column.side:last-child { 
        width: 100%;
        display: block;
        padding: 10px;
    }
    .column.side:last-child .container-cards {
        padding-right: 0; 
    }
    .pagination {
        flex-direction: row; 
        flex-wrap: wrap; 
        padding: 10px 0;
    }

    .responsive.ig-item {
        width: 100%;
        height: auto;
    }
}
</style>